<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Geostay" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <!--<main class="container mx-auto mt-28 px-5">-->
    <main class="">
      <div class="w-full flex flex-col">
        <% if notice %>
          <p class="notice bg-green-100 p-4 rounded mb-4"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert bg-red-100 p-4 rounded mb-4"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/7d639ddac3.js" crossorigin="anonymous"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google["api_key"] %>&callback=console.debug&libraries=maps,marker&v=beta" async defer></script>-->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "<%= Rails.application.credentials.google["api_key"] %>",
        v: "beta",
      });
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  </body>
</html>
